body{
	background: url("background.jpg");
	background-repeat: no-repeat;
}
#content{
	width:40%;
	margin-left: 30%;
	background-color: rgba(255, 165, 0,.5);
	padding: 40px;
	border-radius: 8px;

}
#button{
	margin-left: 150px;
}
#center{

}